.latest-text{}
.latest-text h6 {
    color: #849ff3;
    font-size: 15px;
}
.latest-text h1 {
    font-weight: 500;
    margin: 20px 0;
    margin-bottom: 40px;
    position: relative;
}
.latest-text h1::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    top: 65px;
    left: 260px;
    background: #256bff;
}
.img-thumb{
    position: relative;
}
.inner-img {
    position: absolute;
    left: 185px;
    top: 175px;
    background: #3763eb;
    color: #fff;
    border-radius: 18px;
    padding: 4px 7px;
}
.inner-img img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.inner-img p {
    text-align: center;
    margin: auto;
}
.footer{
    background: #081828;
}
.footer-one{}
.footer-one img {
    width: 150px;
    height: auto;
    margin-bottom: 45px;
}
.footer-one p{}
.footer-one ul{
    padding: 0;
    margin: 0;
}
.footer-one ul li{
    list-style: none;
    padding: 0 20px;
}
.footer-one ul li a{}
.footer-one ul li a i {
    color: #fff;
    margin: 35px 0;
}
.footer-two ul{
    padding: 0;
    margin: 0;
}
.footer-two ul li {
    list-style: none;
    padding: 12px 0;
}
.footer-two ul li a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.footer-two h5 {
    margin-left: 15px;
}
.borderx{
    border-bottom: 2px solid rgb(139, 134, 134);
}
.footer-two h5{
    position: relative;
}
.footer-two h5::before {
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    height: 25px;
    width: 3px;
    background: #3763eb;
}
.footer-two ul li a:hover{
    letter-spacing: 2px;
}